:root {
  --clr-background: hsl(185, 75%, 39%);
  --clr-text: hsl(229, 23%, 23%);
  --clr-text-small: hsl(227, 10%, 46%);
  --clr-background-card: hsl(0, 0%, 100%);
  --clr-line: hsl(225, 10%, 92%);

  --ff-primary: "Kumbh Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --fs-text: 1.125rem;
  --fs-text-small: 0.875rem;
  --fs-text-smaller: 0.625rem;

  --lh-text: 1.125rem;
  --lh-text-small: 0.875rem;
  --lh-text-smaller: 0.625rem;

  --background-card-width: 21.875rem;
  --background-card-height: 8.75rem;

  --avatar-width: 6rem;
}
